BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Attach
Cpp11BracedListStyle: false
IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
